body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}

html {
    background-image: url("../img/what-the-hex.png");
    background-repeat: repeat;
}

p {
    text-align: center;
    color: #cccccc;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 200;
    transform: scaleY(1.1);
}

.gifButton {
    background:rgb(0, 90, 155);
    color: white;
    font-size: 1em;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 200;
    transform: scaleY(1.1);
    font-size: 1.1em;
    border: none;
}

.gifButton:hover {
    background:rgb(0, 135, 232);
    color: white;
}

.gifButton:focus {
    background:rgb(0, 135, 232);
    color: white;
}


#button-generator {
    border-radius: 5px;
    padding: 15px;
    color: gray;
    font-weight: 200;
    transform: scaleY(1.1);
    font-size: 1.1em;
}

#button-generator:focus {
    outline: none;
}

/* #user-input:focus {
    border-bottom: black;
} */

.image-div {
    display: inline-block;
    margin: 10px;
    border: 1px solid #cccccc;
}

.container {
    background: #f9f9f9;
    text-align: center;
    padding: 25px;

}

.collapsible-header{
    text-transform: capitalize;
    font-weight: 200;
    font-size: 1.3em;
}

.close-button {
    line-height: 1.3em;
}

.collapsible-body {
    background: white;
}

.my-blue {
    background: rgb(0, 90, 155);
}

.footer-height {
    height: 60px;
    border-top: 10px solid rgb(0, 135, 232);
    margin-top: 30px;
    padding-bottom: 10px;
    font-size: 1.1em;
    font-weight: 200;

}

.header-height {
    margin-bottom: 50px;
    line-height: 2em;
    font-size: 3em;
    padding-top: 15px;
    transform: scaleY(1.3);
    font-family: 'Limelight', cursive;
    word-spacing: 10px;
    text-shadow: 2px 2px 2px black;

}


input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
    font-size: 1.3em;
    font-weight: 200;
}

input[placeholder]{
    font-weight: 200;
    font-size: 1.3em;
}

li {
    margin-bottom: 10px;
}

ul {
    box-shadow: 0 0 0 0 !important;
    border: none !important;
}