html {
    background-image: url("../img/what-the-hex.png");
    background-repeat: repeat;
}

p {
    text-align: center;
    color: #cccccc;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.gifButton {
    background:rgb(93, 143, 179);
    color: white;
    font-size: 1em;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.gifButton:hover {
    background:rgba(93, 143, 179, 0.733);
    color: white;
}

.gifButton:focus {
    background:rgb(93, 143, 179);
    color: white;
}

.gifButton:active {
    background:rgb(0, 90, 155);
    color: white;
}

#button-generator {
    border-radius: 5px;
    padding: 15px;
    color: gray;
}

#button-generator:focus {
    outline: none;
}

/* #user-input:focus {
    border-bottom: black;
} */

/* li {
    background: #f6f6f6;
} */

.image-div {
    display: inline-block;
    margin: 10px;
    border: 1px solid #cccccc;
}

.container {
    background: white;
    text-align: center;
    padding: 25px;
    box-shadow: 2px 2px 5px #cccccc;

}


